Flask==2.2.2
redis==4.5.4
flask-cors==3.0.10
flask-login==0.6.2
flask-sqlalchemy==2.5.1
playwright==1.29.0
beautifulsoup4==4.11.1
colorama==0.4.6
requests
flask-socketio==5.12.1
flask-jwt-extended==4.7.1