# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
logs/
saves/
build/
dist/
*.spec

# Custom files
.cookies.txt
cookies.txt
.config.ini
config.ini
chaoxing.log
config*.ini
.chaoxing.log
./config.ini
./chaoxing.log
./cookies.txt
.idea/
.vscode/
cache.json
qrcode.png
tiku_make/flask-redis-app/src/app.db
sec.txt
tiku_make/flask-redis-app/src/static/node_modules/.package-lock.json
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/LICENSE
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/package.json
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/README.md
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/css/xterm.css
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/AccessibilityManager.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/Clipboard.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/ColorContrastCache.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/Lifecycle.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/Linkifier.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/LocalizableStrings.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/OscLinkProvider.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/RenderDebouncer.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/Terminal.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/TimeBasedDebouncer.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/Types.d.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/Viewport.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/decorations/BufferDecorationRenderer.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/decorations/ColorZoneStore.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/decorations/OverviewRulerRenderer.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/input/CompositionHelper.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/input/Mouse.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/input/MoveToCell.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/public/Terminal.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/renderer/dom/DomRenderer.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/renderer/dom/DomRendererRowFactory.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/renderer/dom/WidthCache.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/renderer/shared/CellColorResolver.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/renderer/shared/CharAtlasCache.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/renderer/shared/CharAtlasUtils.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/renderer/shared/Constants.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/renderer/shared/CursorBlinkStateManager.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/renderer/shared/CustomGlyphs.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/renderer/shared/DevicePixelObserver.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/renderer/shared/RendererUtils.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/renderer/shared/SelectionRenderModel.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/renderer/shared/TextureAtlas.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/renderer/shared/Types.d.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/selection/SelectionModel.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/selection/Types.d.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/services/CharacterJoinerService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/services/CharSizeService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/services/CoreBrowserService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/services/LinkProviderService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/services/MouseService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/services/RenderService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/services/SelectionService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/services/Services.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/browser/services/ThemeService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/CircularList.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/Clone.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/Color.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/CoreTerminal.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/EventEmitter.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/InputHandler.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/Lifecycle.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/MultiKeyMap.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/Platform.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/SortedList.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/TaskQueue.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/TypedArrayUtils.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/Types.d.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/WindowsMode.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/buffer/AttributeData.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/buffer/Buffer.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/buffer/BufferLine.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/buffer/BufferRange.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/buffer/BufferReflow.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/buffer/BufferSet.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/buffer/CellData.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/buffer/Constants.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/buffer/Marker.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/buffer/Types.d.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/data/Charsets.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/data/EscapeSequences.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/input/Keyboard.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/input/TextDecoder.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/input/UnicodeV6.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/input/WriteBuffer.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/input/XParseColor.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/parser/Constants.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/parser/DcsParser.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/parser/EscapeSequenceParser.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/parser/OscParser.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/parser/Params.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/parser/Types.d.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/public/AddonManager.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/public/BufferApiView.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/public/BufferLineApiView.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/public/BufferNamespaceApi.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/public/ParserApi.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/public/UnicodeApi.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/services/BufferService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/services/CharsetService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/services/CoreMouseService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/services/CoreService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/services/DecorationService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/services/InstantiationService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/services/LogService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/services/OptionsService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/services/OscLinkService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/services/ServiceRegistry.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/services/Services.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/src/common/services/UnicodeService.ts
tiku_make/flask-redis-app/src/static/node_modules/@xterm/xterm/typings/xterm.d.ts
tiku_make/flask-redis-app/src/static/package-lock.json
tiku_make/flask-redis-app/src/static/package.json
